{% extends "base.html" %}

{% block vendor_javascript %}
  {% include 'components/simple_datatables_vendor_js.html' %}
{% endblock vendor_javascript %}
{% block content %}
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="">
      <div class="bg-white shadow-md dark:bg-gray-800 sm:rounded-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-white p-6">
          {{ 'Gestión de Ingresos Diarios' if is_daily_mode else 'Gestión de Ingresos Detallados' }}
          - {{ business.name }}
        </h3>
        {% include 'income/partials/_income_toolbar.html' %}
        {% include 'income/partials/_income_list_content.html' %}
      </div>
    </div>
  </section>

  {# Modal Agregar Ingreso #}
  <div
    id="add_sale_modal"
    tabindex="-1"
    aria-hidden="true"
    class="antialiased fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-auto w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
  >
    <div class="relative max-h-auto w-full max-w-lg p-4">
      <!-- Modal content -->
      <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between rounded-t border-b border-gray-200 p-4 dark:border-gray-700 md:p-5"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            {{ 'Agregar ingreso diario' if is_daily_mode else 'Agregar ingreso detallado' }}
          </h3>
          <button
            type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="add_sale_modal"
          >
            <svg
              class="h-3 w-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Cerrar modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form
          method="post"
          class="p-4 md:p-5"
          action="{{ url_for('income.sales', client_slug=business.client.slug, business_slug=business.slug) }}"
        >
          {% if is_daily_mode %}
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-4 mb-5">
              {{ add_income_form.hidden_tag() }}

              <div class="sm:col-span-2">
                {{ add_income_form.date.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.date(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    type="date",
                    required=True
                  )
                }}
              </div>

              <div class="sm:col-span-2">
                {{ add_income_form.activity.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.activity(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  )
                }}
              </div>

              <div class="sm:col-span-2">
                {{ add_income_form.payment_method.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.payment_method(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  )
                }}
                {% for error in add_income_form.payment_method.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_income_form.debtor_type.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.debtor_type(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  )
                }}
                {% for error in add_income_form.debtor_type.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-4">
                <p class="text-xs text-gray-500 dark:text-gray-400">
                  Para pagos por transferencia/cheque complete los datos del
                  deudor según tipo.
                </p>
              </div>

              <div class="sm:col-span-4">
                {{ add_income_form.debtor_natural_full_name.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.debtor_natural_full_name(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Nombre y apellidos"
                  )
                }}
                {% for error in add_income_form.debtor_natural_full_name.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_income_form.debtor_natural_identity_number.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.debtor_natural_identity_number(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Carnet o NIT"
                  )
                }}
                {% for error in add_income_form.debtor_natural_identity_number.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_income_form.debtor_natural_bank_account.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.debtor_natural_bank_account(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Cuenta bancaria"
                  )
                }}
                {% for error in add_income_form.debtor_natural_bank_account.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-4">
                {{ add_income_form.debtor_legal_entity_name.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.debtor_legal_entity_name(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Nombre de la entidad"
                  )
                }}
                {% for error in add_income_form.debtor_legal_entity_name.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_income_form.debtor_legal_reeup_code.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.debtor_legal_reeup_code(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Código REEUP"
                  )
                }}
                {% for error in add_income_form.debtor_legal_reeup_code.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_income_form.debtor_legal_credit_branch.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.debtor_legal_credit_branch(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Sucursal de crédito"
                  )
                }}
                {% for error in add_income_form.debtor_legal_credit_branch.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-4">
                {{ add_income_form.debtor_legal_address.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.debtor_legal_address(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Dirección"
                  )
                }}
                {% for error in add_income_form.debtor_legal_address.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_income_form.debtor_legal_bank_account.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.debtor_legal_bank_account(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Número de cuenta"
                  )
                }}
                {% for error in add_income_form.debtor_legal_bank_account.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_income_form.debtor_legal_contract_number.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.debtor_legal_contract_number(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Número de contrato"
                  )
                }}
                {% for error in add_income_form.debtor_legal_contract_number.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_income_form.amount.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.amount(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    step="0.01",
                    type="number"
                  )
                }}
              </div>

              <div class="sm:col-span-2">
                {{ add_income_form.cash_location.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.cash_location(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  )
                }}
              </div>

              <div class="sm:col-span-4">
                {{ add_income_form.description.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_income_form.description(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Detalles o descripción ..."
                  )
                }}
              </div>

              <div class="sm:col-span-4">
                <div class="flex items-center mb-2">
                  {{
                    add_income_form.mark_non_taxable(
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-lg focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600",
                      type="checkbox"
                    )
                  }}
                  <div
                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >
                    {{ add_income_form.mark_non_taxable.label.text }}
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-4 mb-5">
              <!-- Campo Oculto CSRF -->
              {{ add_sale_form.hidden_tag() }}

              <!-- Campo de Negocio Específico -->
              {% if business.is_general and business.sub_businesses.count() > 0 %}
                <div class="sm:col-span-4">
                  {{ add_sale_form.specific_business_id.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                  {{
                    add_sale_form.specific_business_id(
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                      placeholder="Número de venta ..."
                    )
                  }}
                  {% for error in add_sale_form.specific_business_id.errors %}
                    <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                      >{{ error }}</span
                    >
                  {% endfor %}
                </div>
              {% endif %}

              <!-- Campo de Numero de venta -->
              <div class="sm:col-span-2">
                {{ add_sale_form.sale_number.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.sale_number(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Número de venta ..."
                  )
                }}
                {% for error in add_sale_form.sale_number.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <!-- Campo de Fecha -->
              <div class="sm:col-span-2">
                {{ add_sale_form.date.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.date(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Fecha de venta ...",
                    type="date",
                    required=True
                  )
                }}
                {% for error in add_sale_form.date.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <!-- Selector de Metodo de Pago -->
              <div class="sm:col-span-2">
                {{ add_sale_form.payment_method.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.payment_method(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Método de pago ..."
                  )
                }}
                {% for error in add_sale_form.payment_method.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_sale_form.debtor_type.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.debtor_type(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  )
                }}
                {% for error in add_sale_form.debtor_type.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-4">
                <p class="text-xs text-gray-500 dark:text-gray-400">
                  Para pagos por transferencia/cheque complete los datos del
                  deudor según tipo.
                </p>
              </div>

              <div class="sm:col-span-4">
                {{ add_sale_form.debtor_natural_full_name.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.debtor_natural_full_name(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Nombre y apellidos"
                  )
                }}
                {% for error in add_sale_form.debtor_natural_full_name.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_sale_form.debtor_natural_identity_number.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.debtor_natural_identity_number(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Carnet o NIT"
                  )
                }}
                {% for error in add_sale_form.debtor_natural_identity_number.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_sale_form.debtor_natural_bank_account.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.debtor_natural_bank_account(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Cuenta bancaria"
                  )
                }}
                {% for error in add_sale_form.debtor_natural_bank_account.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-4">
                {{ add_sale_form.debtor_legal_entity_name.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.debtor_legal_entity_name(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Nombre de la entidad"
                  )
                }}
                {% for error in add_sale_form.debtor_legal_entity_name.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_sale_form.debtor_legal_reeup_code.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.debtor_legal_reeup_code(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Código REEUP"
                  )
                }}
                {% for error in add_sale_form.debtor_legal_reeup_code.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_sale_form.debtor_legal_credit_branch.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.debtor_legal_credit_branch(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Sucursal de crédito"
                  )
                }}
                {% for error in add_sale_form.debtor_legal_credit_branch.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-4">
                {{ add_sale_form.debtor_legal_address.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.debtor_legal_address(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Dirección"
                  )
                }}
                {% for error in add_sale_form.debtor_legal_address.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_sale_form.debtor_legal_bank_account.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.debtor_legal_bank_account(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Número de cuenta"
                  )
                }}
                {% for error in add_sale_form.debtor_legal_bank_account.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <div class="sm:col-span-2">
                {{ add_sale_form.debtor_legal_contract_number.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.debtor_legal_contract_number(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Número de contrato"
                  )
                }}
                {% for error in add_sale_form.debtor_legal_contract_number.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <!-- Selector de Estado -->
              <div class="sm:col-span-2">
                {{ add_sale_form.status.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.status(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Estado ..."
                  )
                }}
                {% for error in add_sale_form.status.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <!-- Campo de Nombre del cliente -->
              <div class="sm:col-span-4">
                {{ add_sale_form.customer_name.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.customer_name(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Nombre del cliente ..."
                  )
                }}
                {% for error in add_sale_form.customer_name.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <!-- Campo de Descuento -->
              <div class="sm:col-span-2">
                {{ add_sale_form.discount.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.discount(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Descuento ...",
                    step="0.01",
                    type="number"
                  )
                }}
                {% for error in add_sale_form.discount.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <!-- Campo de Impuesto -->
              <div class="sm:col-span-2">
                {{ add_sale_form.tax.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.tax(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="IVA ...",
                    step="0.01",
                    type="number"
                  )
                }}
                {% for error in add_sale_form.tax.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>

              <!-- Campo de Venta excluida -->
              <div class="sm:col-span-4">
                {{ add_sale_form.excluded.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                <div class="flex items-center mb-4">
                  {{
                    add_sale_form.excluded(
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-lg focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600",
                      type="checkbox"
                    )
                  }}
                  <div
                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >
                    {{ add_sale_form.excluded.description }}
                  </div>
                  {% for error in add_sale_form.excluded.errors %}
                    <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                      >{{ error }}</span
                    >
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
          <div
            class="border-t border-gray-200 pt-4 dark:border-gray-700 md:pt-5"
          >
            <button
              type="submit"
              class="me-2 inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >
              {{ 'Agregar ingreso diario' if is_daily_mode else 'Agregar ingreso detallado' }}
            </button>
            <button
              type="button"
              data-modal-toggle="add_sale_modal"
              class="me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_javascript %}
  <script type="application/javascript">
    (function () {
      if (
        typeof simpleDatatables === "undefined" ||
        typeof simpleDatatables.DataTable === "undefined"
      )
        return;

      // Initialize all tables with the .sales-table class
      document.querySelectorAll(".sales-table").forEach(function (table) {
        try {
          new simpleDatatables.DataTable(table, {
            paging: true,
            sortable: true,
          });
        } catch (e) {
          // ignore individual table init errors
          console.warn("simple-datatables init error", e);
        }
      });

      // Backwards compatibility: single table with id
      var single = document.getElementById("sales-table");
      if (single) {
        try {
          new simpleDatatables.DataTable(single, {
            paging: true,
            sortable: true,
          });
        } catch (e) {
          console.warn("simple-datatables init error", e);
        }
      }
    })();
  </script>
{% endblock custom_javascript %}
