{% extends "base.html" %}
{% block vendor_javascript %}
  <script src="{{ url_for('main.node_modules', filename='simple-datatables/dist/umd/simple-datatables.js') }}"></script>
{% endblock vendor_javascript %}
{% block content %}
  <!-- Hero Section -->
  <section class="py-12">
    <div class="container mx-auto px-4 text-center">
      <h1 class="text-3xl font-bold text-gray-800 dark:text-white">
        Gestión de Productos - {{ business.name }}
      </h1>
      <p class="text-lg text-gray-600 dark:text-gray-300 mt-2">
        Administra los productos de tu negocio.
      </p>
    </div>
  </section>

  <!-- Formulario para Agregar un Nuevo Producto -->
  <section class="bg-white py-12 dark:bg-gray-800">
    <div class="container mx-auto px-4">
      <h2
        class="text-2xl font-bold text-gray-800 dark:text-white mb-6 text-center"
      >
        Agregar Nuevo Producto
      </h2>

      <!-- Botón de Envío -->
      <button
        type="button"
        data-modal-target="add_product_modal"
        data-modal-toggle="add_product_modal"
        class="mt-4 flex w-full items-center justify-center rounded-lg bg-primary-700  px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:mt-0"
      >
        Agregar Producto
      </button>
    </div>
  </section>

  <!-- Listado de Productos -->
  {# <section class="bg-gray-100 py-12 dark:bg-gray-800">
    <div class="container mx-auto px-4">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-white mb-6">
        Listado de Productos
      </h3>
      <div class="overflow-x-auto relative">
        <!-- Tabla de Productos -->
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="py-3 px-6">ID</th>
              <th scope="col" class="py-3 px-6">Nombre</th>
              <th scope="col" class="py-3 px-6">Precio</th>
              <th scope="col" class="py-3 px-6">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
              >
                <td class="py-4 px-6">{{ product.id }}</td>
                <td class="py-4 px-6">
                  <a
                    href="{{ url_for('product.technical_card', business_id=business.id, product_id=product.id) }}"
                    >{{ product.name }}</a
                  >
                </td>
                <td class="py-4 px-6">${{ product.price | currency }}</td>
              </tr>
              <tr></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section> #}

  <!-- Botón para Regresar al Dashboard -->
  <section class="bg-white py-6 dark:bg-gray-800">
    <div class="container mx-auto px-4 text-center">
      <a
        href="{{ url_for('business.dashboard', business_id=business.id) }}"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Regresar al Dashboard
      </a>
    </div>
  </section>

  {# Modal Agregar Producto #}
  <div
    id="add_product_modal"
    tabindex="-1"
    aria-hidden="true"
    class="antialiased fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-auto w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
  >
    <div class="relative max-h-auto w-full max-w-lg p-4">
      <!-- Modal content -->
      <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between rounded-t border-b border-gray-200 p-4 dark:border-gray-700 md:p-5"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Agregar Producto
          </h3>
          <button
            type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="add_product_modal"
          >
            <svg
              class="h-3 w-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Cerrar modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form method="post" class="p-4 md:p-5">
          <div class="grid grid-cols-1 gap-4 mb-5 sm:grid-cols-4 ">
            <!-- Campo Oculto CSRF -->
            {{ add_product_form.hidden_tag() }}
            <!-- Selector de Nombre -->
            <div class="sm:col-span-4">
              {{ add_product_form.name.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_product_form.name(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Agregar nombre ...",
                  required=True
                )
              }}
              {% for error in add_product_form.name.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Precio -->
            <div class="sm:col-span-2">
              {{ add_product_form.price.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_product_form.price(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Agregar precio ...",
                  step="0.01",
                  type="number",
                  required=True
                )
              }}
              {% for error in add_product_form.price.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>
            <!-- Selector de Categoria -->
            <div class="sm:col-span-2">
              {{ add_product_form.category.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_product_form.category(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Agregar descripción ...",
                )
              }}
              {% for error in add_product_form.category.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>
            <!-- Textarea de Instrucciones -->
            <div class="sm:col-span-4">
              {{ add_product_form.instructions.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_product_form.instructions(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Agregar instrucciones ...",
                )
              }}
              {% for error in add_product_form.instructions.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>
            <!-- Textarea de Descripcion -->
            <div class="sm:col-span-4">
              {{ add_product_form.description.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_product_form.description(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Agregar descripción ...",
                )
              }}
              {% for error in add_product_form.description.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de preparado por lotes -->
            <div class="sm:col-span-4">
              {{ add_product_form.is_batch_prepared.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              <div class="flex items-center mb-4">
                {{
                  add_product_form.is_batch_prepared(
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-lg focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600",
                    type="checkbox",
                  )
                }}
                <div
                  class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >
                  {{ add_product_form.is_batch_prepared.description }}
                </div>
                {% for error in add_product_form.is_batch_prepared.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>
            </div>

            <!-- Campo de cantidad por lotes -->
            <div class="sm:col-span-2">
              {{ add_product_form.batch_size.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_product_form.batch_size(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Cantiad del lote ...",
                  step="1",
                  type="number"
                )
              }}
              {% for error in add_product_form.batch_size.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>
          </div>
          <div
            class="border-t border-gray-200 pt-4 dark:border-gray-700 md:pt-5"
          >
            <button
              type="submit"
              class="me-2 inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >
              Agregar Producto
            </button>
            <button
              type="button"
              data-modal-toggle="add_product_modal"
              class="me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased">
    <table id="products-table">
      <thead>
        <tr>
          <th>
            <span class="flex items-center">
              Nombre
              <svg
                class="w-4 h-4 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m8 15 4 4 4-4m0-6-4-4-4 4"
                />
              </svg>
            </span>
          </th>
          <th>
            <span class="flex items-center">
              Categoria
              <svg
                class="w-4 h-4 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m8 15 4 4 4-4m0-6-4-4-4 4"
                />
              </svg>
            </span>
          </th>
          <th>
            <span class="flex items-center">
              Precio
              <svg
                class="w-4 h-4 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m8 15 4 4 4-4m0-6-4-4-4 4"
                />
              </svg>
            </span>
          </th>
          <th>
            <span class="flex items-center">
              Estado
              <svg
                class="w-4 h-4 ms-1"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m8 15 4 4 4-4m0-6-4-4-4 4"
                />
              </svg>
            </span>
          </th>
          <th>
            <span class="flex items-center"> Acciones </span>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr class="hover:bg-gray-50 dark:hover:bg-gray-800 cursor-pointer">
            <td
              class="font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              <a
                href="{{ url_for('product.technical_card', business_id=business.id, product_id=product.id ) }}"
                >{{ product.name }}</a
              >
            </td>
            <td>{{ product.category }}</td>
            <td>{{ product.price|currency }}</td>
            <td>
              {% if product.is_active %}
                <span
                  class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-green-400 border border-green-400"
                  >Producto activo</span
                >
              {% else %}
                <span
                  class="bg-red-100 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-red-900 dark:text-red-300"
                  >Producto inactivo</span
                >
              {% endif %}
            </td>
            <td>Actions {{ loop }}</td>
          </tr>
        {% else %}
          No tiene productos en existencia.
        {% endfor %}
      </tbody>
    </table>
  </section>
  <!-- Campo oculto para almacenar el business_id -->
  <input type="hidden" id="business-id" value="{{ business.id }}" />

  <table id="demo-table"></table>
{% endblock %}

{% block custom_javascript %}
  <script>
    if (
      document.getElementById("products-table") &&
      typeof simpleDatatables.DataTable !== "undefined"
    ) {
      const dataTable = new simpleDatatables.DataTable("#products-table", {
        paging: true,
        sortable: true,
        locale: "es-ES", // set the locale for sorting
        numeric: true, // enable or disable numeric sorting
        caseFirst: "false", // set the case first for sorting (upper, lower)
        ignorePunctuation: true, // enable or disable punctuation sorting
        searchable: true,
        classes: {
          bottom:
            "datatable-bottom flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4",
          container: "datatable-container overflow-x-auto",
          top: "datatable-top flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4",
          wrapper:
            "datatable-wrapper bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden",
        },
      });
    }
  </script>
  <script
    src="{{url_for('static', filename='js/products-table.js')}}"
    type="module"
  ></script>
{% endblock custom_javascript %}
