{% extends "base.html" %}

{% block content %}
  <section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16">
    <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
      <div class="mx-auto max-w-3xl">
        <div class="flex justify-between align-middle">
          <h2
            class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl"
          >
            Nota de Venta # {{ sale.sale_number }}
            <span class="text-base text-red-400"
              >{{ '(Excluida)' if sale.excluded }}</span
            >
          </h2>
          <span
            class="text-xl font-semibold text-gray-900 dark:text-white sm:text-2xl"
            >{{ sale.date }}</span
          >
        </div>

        <div
          class="mt-6 space-y-4 border-b border-t border-gray-200 py-8 dark:border-gray-700 sm:mt-8"
        >
          <h4 class="text-lg font-semibold text-gray-900 dark:text-white">
            Detalles
          </h4>

          <div class="grid grid-cols-1 gap-4 sm:grid-cols-4 mb-5">
            <div class="sm:col-span-2 flex items-center gap-2">
              <span class="text-base font-medium text-gray-900 dark:text-white">
                Metodo de Pago:
              </span>
              <span
                class="text-base font-normal text-gray-500 dark:text-gray-400 "
              >
                {{ sale.payment_method | format_payment_method }}
              </span>
            </div>
            <div class="sm:col-span-2 flex items-center gap-2">
              <span
                class="text-base font-medium text-gray-900 dark:text-white sm:col-span-2"
                >Estado:</span
              >
              {{ sale.status | format_sale_status_badge | safe }}
            </div>
          </div>

          <div class="flex items-center justify-between gap-4">
            <button
              type="button"
              data-modal-target="update_sale_modal"
              data-modal-toggle="update_sale_modal"
              class="text-base font-medium text-primary-700 hover:underline dark:text-primary-500"
            >
              Editar
            </button>
            <button
              type="button"
              data-modal-target="add_product_modal"
              data-modal-toggle="add_product_modal"
              class="text-base font-medium text-primary-700 hover:underline dark:text-primary-500"
            >
              + Agregar Producto
            </button>
          </div>
        </div>

        <div class="mt-6 sm:mt-8">
          <div class="border-b border-gray-200 dark:border-gray-800">
            <table
              class="w-full text-left font-medium text-gray-900 dark:text-white md:table-fixed"
            >
              <tbody class="divide-y divide-gray-200 dark:divide-gray-800">
                {% if sale.products %}
                  {% for sp in sale.products %}
                    <tr>
                      <td class="py-4 md:w-[300px]">
                        <button
                          type="button"
                          data-popover-target="popover-sp-{{ sp.id }}"
                          data-popover-placement="right"
                          data-popover-trigger="click"
                          class="text-base font-medium text-primary-700 hover:underline dark:text-primary-500"
                        >
                          {{ sp.product.name }}
                        </button>
                        <div
                          data-popover
                          id="popover-sp-{{ sp.id }}"
                          role="tooltip"
                          class="absolute z-10 invisible inline-block  text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800"
                        >
                          <div
                            class="px-3 py-2 flex items-center justify-between gap-4"
                          >
                            <button
                              type="button"
                              data-modal-target="update_product_modal"
                              data-modal-toggle="update_product_modal"
                              class="text-blue-600 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-500 hover:underline"
                              onclick="openEditModal({{ sp.id }},{{ sp.quantity }},{{ sp.discount or 0.0 }},'{{ sp.product.name }}')"
                            >
                              Editar
                            </button>
                            <span>|</span>
                            <!-- Formulario para Eliminar -->
                            <form
                              method="post"
                              enctype="multipart/form-data"
                              onsubmit="return confirm('¿Estás seguro de que deseas eliminar este producto?');"
                            >
                              {{ remove_product_form.sale_detail_id(value=sp.id) }}
                              {{ remove_product_form.hidden_tag(remove_product_form.meta.csrf_field_name) }}
                              <button
                                type="submit"
                                name="remove_product"
                                value="delete"
                                class="text-red-600 hover:text-red-700 dark:text-red-400 dark:hover:text-red-500 hover:underline"
                              >
                                Eliminar
                              </button>
                            </form>
                          </div>
                          <div data-popper-arrow></div>
                        </div>
                      </td>

                      <td
                        class="p-4 text-base font-normal text-gray-900 dark:text-white"
                      >
                        {{ sp.unit_price | currency }}
                      </td>
                      <td
                        class="p-4 text-center text-base font-bold text-gray-900 dark:text-white"
                      >
                        {{ sp.quantity }}
                      </td>
                      <td
                        class="p-4 text-right text-base font-bold text-gray-900 dark:text-white"
                      >
                        {{ sp.total_price | currency }}
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    No se han agregado materiales al producto.
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>

          <div class="mt-4 space-y-6">
            <h4 class="text-xl font-semibold text-gray-900 dark:text-white">
              Resumen de la venta
            </h4>

            <div class="space-y-4">
              <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-gray-500 dark:text-gray-400">
                    Precio original
                  </dt>
                  <dd
                    class="text-base font-medium text-gray-900 dark:text-white"
                  >
                    {{ sale.subtotal_amount|currency }}
                  </dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-gray-500 dark:text-gray-400">Descuentos</dt>
                  <dd class="text-base font-medium text-green-500">
                    -{{ (sale.subtotal_amount * sale.discount) | currency }}
                  </dd>
                </dl>

                <dl class="flex items-center justify-between gap-4">
                  <dt class="text-gray-500 dark:text-gray-400">Impuestos</dt>
                  <dd
                    class="text-base font-medium text-gray-900 dark:text-white"
                  >
                    + {{ (sale.subtotal_amount * sale.tax) | currency }}
                  </dd>
                </dl>
              </div>

              <dl
                class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700"
              >
                <dt class="text-lg font-bold text-gray-900 dark:text-white">
                  Total
                </dt>
                <dd class="text-lg font-bold text-gray-900 dark:text-white">
                  {{ sale.total_amount | currency }}
                </dd>
              </dl>
            </div>

            <div class="gap-4 sm:flex sm:items-center">
              <a
                class="w-full rounded-lg  border border-gray-200 bg-white px-5  py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700 text-center"
                href="{{ url_for('sale.list', business_id=business.id) }}"
              >
                Regresar al listado
              </a>

              <button
                type="button"
                data-modal-target="update_sale_modal"
                data-modal-toggle="update_sale_modal"
                class="mt-4 flex w-full items-center justify-center rounded-lg bg-primary-700  px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:mt-0"
              >
                Actualizar Venta
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {# Modal Actualizar Venta #}
  <div
    id="update_sale_modal"
    tabindex="-1"
    aria-hidden="true"
    class="antialiased fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-auto w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
  >
    <div class="relative max-h-auto w-full max-w-lg p-4">
      <!-- Modal content -->
      <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between rounded-t border-b border-gray-200 p-4 dark:border-gray-700 md:p-5"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Actualizar Venta
          </h3>
          <button
            type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="update_sale_modal"
          >
            <svg
              class="h-3 w-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Cerrar modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form
          method="post"
          class="p-4 md:p-5"
          action="{{ url_for('sale.details', business_id=business.id, sale_id=sale.id) }}"
        >
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-4 mb-5">
            <!-- Campo Oculto CSRF -->
            {{ update_sale_form.hidden_tag() }}

            <!-- Campo de Negocio Especifico -->
            {% if business.is_general and business.sub_businesses.count() > 0 %}
              <div class="sm:col-span-4">
                {{ update_sale_form.specific_business_id.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  update_sale_form.specific_business_id(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Número de venta ...",
                  )
                }}
                {% for error in update_sale_form.specific_business_id.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>
            {% endif %}

            <!-- Campo de Numero de venta -->
            <div class="sm:col-span-2">
              {{ update_sale_form.sale_number.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                update_sale_form.sale_number(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Número de venta ...",
                  required=True
                )
              }}
              {% for error in update_sale_form.sale_number.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Fecha -->
            <div class="sm:col-span-2">
              {{ update_sale_form.date.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                update_sale_form.date(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Fecha de venta ...",
                  type="date",
                  required=True
                )
              }}
              {% for error in update_sale_form.date.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Selector de Metodo de Pago -->
            <div class="sm:col-span-2">
              {{ update_sale_form.payment_method.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                update_sale_form.payment_method(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Metodo de pago ...",
                )
              }}
              {% for error in update_sale_form.payment_method.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Selector de Estado -->
            <div class="sm:col-span-2">
              {{ update_sale_form.status.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                update_sale_form.status(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Estado ...",
                )
              }}
              {% for error in update_sale_form.status.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Nombre del cliente -->
            <div class="sm:col-span-4">
              {{ update_sale_form.customer_name.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                update_sale_form.customer_name(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Nombre del cliente ...",
                )
              }}
              {% for error in update_sale_form.customer_name.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Descuento -->
            <div class="sm:col-span-2">
              {{ update_sale_form.discount.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                update_sale_form.discount(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Descuento ...",
                  step="0.01",
                  type="number"
                )
              }}
              {% for error in update_sale_form.discount.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Impuesto -->
            <div class="sm:col-span-2">
              {{ update_sale_form.tax.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                update_sale_form.tax(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="IVA ...",
                  step="0.01",
                  type="number"
                )
              }}
              {% for error in update_sale_form.tax.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Venta excluida -->
            <div class="sm:col-span-4">
              {{ update_sale_form.excluded.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              <div class="flex items-center mb-4">
                {{
                  update_sale_form.excluded(
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-lg focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600",
                    type="checkbox",
                    checked=sale.excluded
                  )
                }}
                <div
                  class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >
                  {{ update_sale_form.excluded.description }}
                </div>
                {% for error in update_sale_form.excluded.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>
            </div>
          </div>
          <div
            class="border-t border-gray-200 pt-4 dark:border-gray-700 md:pt-5"
          >
            <button
              type="submit"
              class="me-2 inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >
              Actualizar Venta
            </button>
            <button
              type="button"
              data-modal-toggle="update_sale_modal"
              class="me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {# Modal Agregar Producto #}
  <div
    id="add_product_modal"
    tabindex="-1"
    aria-hidden="true"
    class="antialiased fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-auto w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
  >
    <div class="relative max-h-auto w-full max-w-lg p-4">
      <!-- Modal content -->
      <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between rounded-t border-b border-gray-200 p-4 dark:border-gray-700 md:p-5"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Agregar Producto
          </h3>
          <button
            type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="add_product_modal"
          >
            <svg
              class="h-3 w-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form method="post" class="p-4 md:p-5">
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-4 mb-5">
            <!-- Campo Oculto CSRF -->
            {{ add_product_form.hidden_tag() }}

            <!-- Selector de Producto -->
            <div class="sm:col-span-4">
              {{ add_product_form.product_id.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_product_form.product_id(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Agregar Producto ...",
                )
              }}
              {% for error in add_product_form.product_id.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Cantidad -->
            <div class="sm:col-span-2">
              {{ add_product_form.quantity.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_product_form.quantity(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Agregar Cantidad ...",
                )
              }}
              {% for error in add_product_form.quantity.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Descuento -->
            <div class="sm:col-span-2">
              {{ add_product_form.discount.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_product_form.discount(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Agregar Descuento ...",
                )
              }}
              {% for error in add_product_form.discount.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>
          </div>
          <div
            class="border-t border-gray-200 pt-4 dark:border-gray-700 md:pt-5"
          >
            <button
              type="submit"
              class="me-2 inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >
              Agregar Producto
            </button>
            <button
              type="button"
              data-modal-toggle="add_product_modal"
              class="me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {# Modal Actualizar Producto de la Venta #}
  <div
    id="update_product_modal"
    tabindex="-1"
    aria-hidden="true"
    class="antialiased fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-auto w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
  >
    <div class="relative max-h-auto w-full max-w-lg p-4">
      <!-- Modal content -->
      <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between rounded-t border-b border-gray-200 p-4 dark:border-gray-700 md:p-5"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Actualizar Producto de la Venta
          </h3>
          <button
            type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="update_product_modal"
          >
            <svg
              class="h-3 w-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Cerrar modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form
          id="edit-sp-form"
          method="POST"
          action="{{ url_for('sale.details', business_id=business.id, sale_id=sale.id) }}"
          class="p-4 md:p-5"
        >
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-4 mb-5">
            <!-- Campo Oculto CSRF -->
            {{ update_product_form.hidden_tag() }}
            <input
              type="hidden"
              id="update_product-id"
              name="update_product-id"
            />
            <!-- Campo de Cantidad -->
            <div class="sm:col-span-2">
              {{ update_product_form.quantity.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                update_product_form.quantity(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Agregar Cantidad ...",
                )
              }}
              {% for error in update_product_form.quantity.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Descuento -->
            <div class="sm:col-span-2">
              {{ update_product_form.discount.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                update_product_form.discount(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Agregar Descuento ...",
                  type="number",
                  step="0.01"
                )
              }}
              {% for error in update_product_form.discount.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>
          </div>
          <div
            class="border-t border-gray-200 pt-4 dark:border-gray-700 md:pt-5"
          >
            <button
              type="submit"
              class="me-2 inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >
              Actualizar
            </button>

            <button
              type="button"
              data-modal-toggle="update_product_modal"
              class="me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block custom_javascript %}
  <script>
    function openEditModal(
      currentId,
      currentQuantity,
      currentDiscount,
      productName,
    ) {
      // Rellenar el formulario con los datos actuales
      document.getElementById("update_product-id").value = currentId;
      document.getElementById("update_product-quantity").value =
        currentQuantity;
      document.getElementById("update_product-discount").value =
        currentDiscount;

      // Actualizar texto del modal
      document.querySelector("#update_product_modal h3").textContent =
        `Actualizar ${productName}`;
    }
  </script>
{% endblock custom_javascript %}
