{% extends "base.html" %}

{% block content %}
  <!-- Hero Section -->
  <section class="py-12">
    <div class="container mx-auto px-4 text-center">
      <h1 class="text-3xl font-bold text-gray-800 dark:text-white">
        Gestión de Ventas - {{ business.name }}
      </h1>
      <p class="text-lg text-gray-600 dark:text-gray-300 mt-2">
        Administra las ventas de tu negocio.
      </p>
    </div>
  </section>

  <!-- Formulario para Agregar una Nueva Venta -->
  <section class="bg-white py-12 dark:bg-gray-800">
    <div class="container mx-auto px-4">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-6">
        Agregar Nueva Venta
      </h2>
      <form
        method="post"
        action="{{ url_for('sale.list', business_id=business.id) }}"
        class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md dark:bg-gray-700"
      >
        <!-- Campo Fecha -->
        <div class="mb-4">
          <label
            for="date"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Fecha:</label
          >
          <input
            type="date"
            id="date"
            name="date"
            required
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          />
        </div>
        <!-- Botón de Envío -->
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Crear Venta
        </button>
      </form>
    </div>
  </section>

  <!-- Listado de Ventas Agrupadas por Mes -->
  <section class="bg-gray-100 py-12 dark:bg-gray-800">
    <div class="container mx-auto px-4">
      {% if sales_by_months %}
        {% for month, sales_by_month in sales_by_months.items() %}
          <div class="mb-12">
            <h3 class="text-2xl font-bold text-gray-800 dark:text-white mb-4">
              Mes: {{ month }}
            </h3>
            <p class="text-gray-600 dark:text-gray-300 mb-6">
              <strong>Ingreso Total del Mes:</strong>
              {{ month_totals[month] | currency }}
            </p>
            <div class="overflow-x-auto relative">
              <table
                class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
              >
                <thead
                  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                >
                  <tr>
                    <th scope="col" class="py-3 px-6">Fecha</th>
                    <th scope="col" class="py-3 px-6">
                      Cantidad de Productos Vendidos
                    </th>
                    <th scope="col" class="py-3 px-6">Ingresos Totales</th>
                    <th scope="col" class="py-3 px-6">Ventas</th>
                  </tr>
                </thead>
                <tbody>
                  {% for date, data in sales_by_month.items() %}
                    <tr
                      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                    >
                      <td class="py-4 px-6">{{ date }}</td>
                      <td class="py-4 px-6">{{ data.total_products }}</td>
                      <td class="py-4 px-6">
                        {{ data.total_income | currency }}
                      </td>
                      <td class="py-4 px-6">
                        {% for sale in data.sales %}
                          <a
                            href="{{ url_for('sale.details', business_id=business.id, sale_id=sale.id) }}"
                            class="text-blue-500 hover:underline dark:text-blue-400"
                            >[{{ sale.sale_number }}]</a
                          >
                        {% endfor %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="text-center text-gray-600 dark:text-gray-300">
          <p>No hay ventas registradas.</p>
        </div>
      {% endif %}
    </div>
  </section>

  <!-- Botón para Regresar al Dashboard -->
  <section class="bg-white py-6 dark:bg-gray-800">
    <div class="container mx-auto px-4 text-center">
      <a
        href="{{ url_for('business.dashboard', business_id=business.id) }}"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Regresar al Dashboard
      </a>
    </div>
  </section>
{% endblock %}
