{% extends "base.html" %}

{% block vendor_javascript %}
  <script src="{{ url_for('main.node_modules', filename='simple-datatables/dist/umd/simple-datatables.js') }}"></script>
{% endblock vendor_javascript %}
{% block content %}
  <!-- Hero Section -->
  <section class="py-12">
    <div class="container mx-auto px-4 text-center">
      <h1 class="text-3xl font-bold text-gray-800 dark:text-white">
        Gestión de Ventas - {{ business.name }}
      </h1>
      <p class="text-lg text-gray-600 dark:text-gray-300 mt-2">
        Administra las ventas de tu negocio.
      </p>
    </div>
  </section>

  <!-- Formulario para Agregar una Nueva Venta -->
  <section class="bg-white py-12 dark:bg-gray-800">
    <div class="container mx-auto px-4">
      <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-6">
        Agregar Nueva Venta
      </h2>

      <button
        type="button"
        data-modal-target="add_sale_modal"
        data-modal-toggle="add_sale_modal"
        class="mt-4 flex w-full items-center justify-center rounded-lg bg-primary-700  px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 sm:mt-0"
      >
        Agregar Venta
      </button>
    </div>
  </section>

  <!-- Listado de Ventas Agrupadas por Mes -->
  <section class="bg-gray-100 py-12 dark:bg-gray-800">
    <div class="container mx-auto px-4">
      {% if sales_by_months %}
        {% for month, sales_by_month in sales_by_months.items() %}
          <div class="mb-12">
            <h3 class="text-2xl font-bold text-gray-800 dark:text-white mb-4">
              Mes: {{ month }}
            </h3>
            <p class="text-gray-600 dark:text-gray-300 mb-6">
              <strong>Ingreso Total del Mes:</strong>
              {{ month_totals[month] | currency }}
            </p>
            <div class="overflow-x-auto relative">
              <table
                class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
              >
                <thead
                  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
                >
                  <tr>
                    <th scope="col" class="py-3 px-6">Fecha</th>
                    <th scope="col" class="py-3 px-6">
                      Cantidad de Productos Vendidos
                    </th>
                    <th scope="col" class="py-3 px-6">Ingresos Totales</th>
                    <th scope="col" class="py-3 px-6">Ventas</th>
                  </tr>
                </thead>
                <tbody>
                  {% for date, data in sales_by_month.items() %}
                    <tr
                      class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
                    >
                      <td class="py-4 px-6">{{ date }}</td>
                      <td class="py-4 px-6">{{ data.total_products }}</td>
                      <td class="py-4 px-6">
                        {{ data.total_income | currency }}
                      </td>
                      <td class="py-4 px-6">
                        {% for sale in data.sales %}
                          <a
                            href="{{ url_for('sale.details', business_id=business.id, sale_id=sale.id) }}"
                            class="text-blue-500 hover:underline dark:text-blue-400 {{ 'text-red-500 dark:text-red-400' if sale.excluded }}"
                            >[{{ sale.sale_number }}]</a
                          >
                        {% endfor %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="text-center text-gray-600 dark:text-gray-300">
          <p>No hay ventas registradas.</p>
        </div>
      {% endif %}
    </div>
  </section>

  <!-- Botón para Regresar al Dashboard -->
  <section class="bg-white py-6 dark:bg-gray-800">
    <div class="container mx-auto px-4 text-center">
      <a
        href="{{ url_for('business.dashboard', business_id=business.id) }}"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Regresar al Dashboard
      </a>
    </div>
  </section>

  {# Modal Agregar Venta #}
  <div
    id="add_sale_modal"
    tabindex="-1"
    aria-hidden="true"
    class="antialiased fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-auto w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
  >
    <div class="relative max-h-auto w-full max-w-lg p-4">
      <!-- Modal content -->
      <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">
        <!-- Modal header -->
        <div
          class="flex items-center justify-between rounded-t border-b border-gray-200 p-4 dark:border-gray-700 md:p-5"
        >
          <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
            Actualizar Venta
          </h3>
          <button
            type="button"
            class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-toggle="add_sale_modal"
          >
            <svg
              class="h-3 w-3"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
              />
            </svg>
            <span class="sr-only">Cerrar modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <form
          method="post"
          class="p-4 md:p-5"
          action="{{ url_for('sale.list', business_id=business.id) }}"
        >
          <div class="grid grid-cols-1 gap-4 sm:grid-cols-4 mb-5">
            <!-- Campo Oculto CSRF -->
            {{ add_sale_form.hidden_tag() }}

            <!-- Campo de Negocio Especifico -->
            {% if business.is_general and business.sub_businesses.count() > 0 %}
              <div class="sm:col-span-4">
                {{ add_sale_form.specific_business_id.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                {{
                  add_sale_form.specific_business_id(
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                    placeholder="Número de venta ...",
                  )
                }}
                {% for error in add_sale_form.specific_business_id.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>
            {% endif %}

            <!-- Campo de Numero de venta -->
            <div class="sm:col-span-2">
              {{ add_sale_form.sale_number.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_sale_form.sale_number(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Número de venta ...",
                )
              }}
              {% for error in add_sale_form.sale_number.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Fecha -->
            <div class="sm:col-span-2">
              {{ add_sale_form.date.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_sale_form.date(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Fecha de venta ...",
                  type="date",
                  required=True
                )
              }}
              {% for error in add_sale_form.date.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Selector de Metodo de Pago -->
            <div class="sm:col-span-2">
              {{ add_sale_form.payment_method.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_sale_form.payment_method(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Metodo de pago ...",
                )
              }}
              {% for error in add_sale_form.payment_method.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Selector de Estado -->
            <div class="sm:col-span-2">
              {{ add_sale_form.status.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_sale_form.status(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Estado ...",
                )
              }}
              {% for error in add_sale_form.status.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Nombre del cliente -->
            <div class="sm:col-span-4">
              {{ add_sale_form.customer_name.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_sale_form.customer_name(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Nombre del cliente ...",
                )
              }}
              {% for error in add_sale_form.customer_name.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Descuento -->
            <div class="sm:col-span-2">
              {{ add_sale_form.discount.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_sale_form.discount(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="Descuento ...",
                  step="0.01",
                  type="number"
                )
              }}
              {% for error in add_sale_form.discount.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Impuesto -->
            <div class="sm:col-span-2">
              {{ add_sale_form.tax.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              {{
                add_sale_form.tax(
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500",
                  placeholder="IVA ...",
                  step="0.01",
                  type="number"
                )
              }}
              {% for error in add_sale_form.tax.errors %}
                <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                  >{{ error }}</span
                >
              {% endfor %}
            </div>

            <!-- Campo de Venta excluida -->
            <div class="sm:col-span-4">
              {{ add_sale_form.excluded.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
              <div class="flex items-center mb-4">
                {{
                  add_sale_form.excluded(
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-lg focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600",
                    type="checkbox",
                  )
                }}
                <div
                  class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >
                  {{ add_sale_form.excluded.description }}
                </div>
                {% for error in add_sale_form.excluded.errors %}
                  <span class="mt-2 text-sm text-red-600 dark:text-red-500"
                    >{{ error }}</span
                  >
                {% endfor %}
              </div>
            </div>
          </div>
          <div
            class="border-t border-gray-200 pt-4 dark:border-gray-700 md:pt-5"
          >
            <button
              type="submit"
              class="me-2 inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >
              Agregar Venta
            </button>
            <button
              type="button"
              data-modal-toggle="add_sale_modal"
              class="me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_javascript %}
  <script type="application/javascript">
    if (
      document.getElementById("sales-table") &&
      typeof simpleDatatables.DataTable !== "undefined"
    ) {
      const dataTable = new simpleDatatables.DataTable("#sales-table", {
        paging: true,
        sortable: true,
      });
    }
  </script>
{% endblock custom_javascript %}
