{% macro building(cls='w-4 h-4 me-3 text-gray-500 dark:text-gray-300') -%}
  <svg
    class="{{ cls }}"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M3 21v-8a2 2 0 012-2h3V5a2 2 0 012-2h4a2 2 0 012 2v6h3a2 2 0 012 2v8M9 21h6"
    />
  </svg>
{%- endmacro %}

{% macro receipt(cls='w-4 h-4 me-3 text-gray-500 dark:text-gray-300') -%}
  <svg
    class="{{ cls }}"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 12h6M9 16h6M4 7h16M4 21h16a1 1 0 001-1V7a1 1 0 00-1-1H4v15a1 1 0 001 1z"
    />
  </svg>
{%- endmacro %}

{% macro box(cls='w-4 h-4 me-3 text-gray-500 dark:text-gray-300') -%}
  <svg
    class="{{ cls }}"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M21 16V8a2 2 0 00-1-1.732l-7-4a2 2 0 00-2 0l-7 4A2 2 0 003 8v8a2 2 0 001 1.732l7 4a2 2 0 002 0l7-4A2 2 0 0021 16z"
    />
  </svg>
{%- endmacro %}

{% macro inventory(cls='w-4 h-4 me-3 text-gray-500 dark:text-gray-300') -%}
  <svg
    class="{{ cls }}"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M20 13V7a2 2 0 00-2-2h-8l-2 2H6a2 2 0 00-2 2v6m16 0v4a2 2 0 01-2 2H6a2 2 0 01-2-2v-4"
    />
  </svg>
{%- endmacro %}

{% macro stats(cls='w-4 h-4 me-3 text-gray-500 dark:text-gray-300') -%}
  <svg
    class="{{ cls }}"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M3 3v18h18M9 17V9m4 8V5m4 12v-6"
    />
  </svg>
{%- endmacro %}

{% macro list(cls='w-4 h-4 me-3 text-gray-500 dark:text-gray-300') -%}
  <svg
    class="{{ cls }}"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16M4 18h16"
    />
  </svg>
{%- endmacro %}
