{% extends "base.html" %}
{% block content %}
  <h2>Agregar Productos a la Venta #{{ sale.sale_number }}</h2>
  <!-- Formulario para agregar un productos a las ventas -->
  <form method="post"
        action="{{ url_for('main.add_sale_products',business_id=business.id, sale_id=sale.id) }}">
    <label for="product_id">Seleccionar Producto:</label>
    <select id="product_id" name="product_id" required>
      {% for product in products %}
        <option value="{{ product.id }}">{{ product.name }} (${{ "%.2f"|format(product.price) }})</option>
      {% endfor %}
    </select>
    <label for="quantity">Cantidad:</label>
    <input type="number" id="quantity" name="quantity" min="1" required />
    <button type="submit">Agregar Producto</button>
  </form>
  <!-- Listado de products ya agregados a la Venta -->
  <h3>Productos Agregados</h3>
  <p>
    <strong>Total General:</strong> ${{ "%.2f"|format(total) }}
  </p>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Precio Unitario</th>
      <th>Cantidad</th>
      <th>Total</th>
    </tr>
    {% for sale_product in sale.products %}
      <tr>
        <td>{{ sale_product.product.name }}</td>
        <td>${{ "%.2f"|format(sale_product.product.price) }}</td>
        <td>{{ sale_product.quantity }}</td>
        <td>${{ "%.2f"|format(sale_product.product.price * sale_product.quantity) }}</td>
      </tr>
    {% endfor %}
  </table>
  <!-- Botón para regresar al listado de órdenes -->
  <a href="{{ url_for('main.sales', business_id=business.id) }}">Regresar al Listado de Ventas</a>
{% endblock content %}
