<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Gestión Integral de Ventas y Compras" />
    <meta name="keywords" content="Ventas, Compras, Gestión, Sistema" />
    <meta name="author" content="Jose Abadia" />
    <title>
      {% block title %}
        SALEManager | Gestión Integral
      {% endblock title %}
    </title>
    <!-- Enlazar el archivo CSS compilado de Tailwind -->
    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />

    {% block vendor_styles %}
    {% endblock vendor_styles %}

    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.getItem("color-theme") === "dark" ||
        (!("color-theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <!-- Script de Flowbite -->
    <script
      src="{{ url_for('main.node_modules', filename='flowbite/dist/flowbite.min.js') }}"
      defer
    ></script>
    {% block vendor_javascript %}
    {% endblock vendor_javascript %}
  </head>
  <body
    class="bg-gray-100 font-sans text-gray-800 dark:bg-gray-900 dark:text-white transition-colors duration-300"
  >
    <!-- Barra de navegación fija -->
    <header
      class="bg-white shadow-md fixed top-0 left-0 right-0 z-50 dark:bg-gray-800"
    >
      <div
        class="container mx-auto px-4 py-3 flex justify-between items-center"
      >
        <h1 class="text-xl font-bold text-gray-800 dark:text-white">
          <a href="{{ url_for('main.index') }}" class="">SALEManager</a>
        </h1>
        <nav class="flex items-center space-x-4">
          <!-- Menú principal -->
          <ul class="flex space-x-4">
            {% if business %}
              <li>
                <a
                  href="{{ url_for('business.dashboard', business_id=business.id) }}"
                  class="text-muted-foreground transition-colors hover:text-foreground"
                  >Dashboard</a
                >
              </li>
              <li>
                <a
                  href="{{ url_for('sale.list', business_id=business.id) }}"
                  class="text-muted-foreground transition-colors hover:text-foreground"
                  >Ventas</a
                >
              </li>
              <li>
                <a
                  href="{{ url_for('product.list', business_id=business.id) }}"
                  class="text-muted-foreground transition-colors hover:text-foreground"
                  >Productos</a
                >
              </li>
            {% else %}
              <li>
                <a
                  href="{{ url_for('business.list') }}"
                  class="text-foreground transition-colors hover:text-foreground"
                  >Negocios</a
                >
              </li>
            {% endif %}
          </ul>
          <!-- Botón para cambiar entre light mode y dark mode -->
          <button
            id="theme-toggle"
            type="button"
            class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5"
          >
            <svg
              id="theme-toggle-dark-icon"
              class="hidden w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
              ></path>
            </svg>
            <svg
              id="theme-toggle-light-icon"
              class="hidden w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                fill-rule="evenodd"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
          <div
            id="tooltip-dark-mode"
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700"
          >
            Cambiar Modo
            <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </nav>
      </div>
    </header>

    <!-- Contenido principal con márgenes -->
    <main class="container mx-auto px-4 py-6 mt-20 mb-20">
      <!-- Mensajes flash -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <!-- Componente Toast de Flowbite -->
            <div
              id="toast-{{ category }}"
              class="fixed top-20 right-5 flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow-sm dark:text-gray-400 dark:bg-gray-800"
              role="alert"
            >
              <!-- Icon -->
              <div
                class="inline-flex items-center justify-center shrink-0 w-8 h-8 rounded-lg 
                {% if category == 'success' %}
                  bg-green-100 text-green-700 dark:bg-green-200
                  dark:text-green-800
                {% elif category == 'error' %}
                  bg-red-100 text-red-700 dark:bg-red-200 dark:text-red-800
                {% elif category == 'warning' %}
                  bg-yellow-100 text-yellow-700 dark:bg-yellow-200
                  dark:text-yellow-800
                {% elif category == 'info' %}
                  bg-blue-100 text-blue-700 dark:bg-blue-200 dark:text-blue-800
                {% endif %}"
              >
                {% if category == 'success' %}
                  <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                {% elif category == 'error' %}
                  <svg
                    class="w-5 h-5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm7.707-3.707a1 1 0 0 0-1.414 1.414L10.586 12l-2.293 2.293a1 1 0 1 0 1.414 1.414L12 13.414l2.293 2.293a1 1 0 0 0 1.414-1.414L13.414 12l2.293-2.293a1 1 0 0 0-1.414-1.414L12 10.586 9.707 8.293Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                {% elif category == 'warning' %}
                  <svg
                    class="w-6 h-6"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v5a1 1 0 1 0 2 0V8Zm-1 7a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                {% elif category == 'info' %}
                  <svg
                    class="w-6 h-6"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm9.408-5.5a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2h-.01ZM10 10a1 1 0 1 0 0 2h1v3h-1a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-1v-4a1 1 0 0 0-1-1h-2Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                {% endif %}
                <span class="sr-only">Check icon</span>
              </div>
              <!-- Menssage -->
              <div class="ml-3 text-sm font-medium">{{ message }}</div>
              <!-- Close button -->
              <button
                type="button"
                class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                data-dismiss-target="#toast-{{ category }}"
                aria-label="Close"
              >
                <span class="sr-only">Close</span>
                <svg
                  class="w-3 h-3"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 14"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                  />
                </svg>
              </button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <!-- Bloque de contenido -->
      {% block content %}
      {% endblock content %}
    </main>

    <!-- Pie de página fijo -->
    <footer
      class="bg-white shadow-md fixed bottom-0 left-0 right-0 py-4 dark:bg-gray-800 dark:text-gray-300"
    >
      <div
        class="container mx-auto px-4 text-center text-gray-600 dark:text-gray-300"
      >
        © {{ now().year }} SALEManager | Grupo CONFIANZA.
      </div>
    </footer>

    <!-- Script para cambiar entre light mode y dark mode -->
    <script src="{{ url_for('static', filename='js/theme-switcher.js') }}"></script>
    {% block custom_javascript %}
    {% endblock custom_javascript %}
  </body>
</html>
