{% extends "base.html" %}
{% block content %}
  <div class="business-detail-container">
    <h1 class="business-title">{{ business.name }}</h1>
    <!-- Logo del Negocio -->
    {% if business.logo %}
      <img src="{{ url_for('static', filename=business.logo) }}"
           alt="Logo de {{ business.name }}"
           class="business-logo">
    {% endif %}
    <!-- Descripción del Negocio -->
    <p class="business-description">Descripción: {{ business.description or "Sin descripción" }}</p>
    {% if not edit %}
      <!-- Modo Detalle -->
      <div style="text-align: center;">
        <a href="{{ url_for('main.business_dashboard', business_id=business.id) }}"
           class="business-button">Dashboard</a>
        <a href="{{ url_for('main.business_detail_or_edit', business_id=business.id, edit=True) }}"
           class="business-button">Editar</a>
      </div>
    {% else %}
      <!-- Modo Edición -->
      <form method="post" enctype="multipart/form-data" class="business-form">
        {{ form.hidden_tag() }}
        <label for="name">{{ form.name.label.text }}</label>
        {{ form.name(size=32, placeholder="Nombre del Negocio") }}
        {% for error in form.name.errors %}<span class="error">{{ error }}</span>{% endfor %}
        <label for="description">{{ form.description.label.text }}</label>
        {{ form.description(cols=40, rows=3, placeholder="Descripción") }}
        {% for error in form.description.errors %}<span class="error">{{ error }}</span>{% endfor %}
        <label for="logo">{{ form.logo.label.text }}</label>
        <div class="file-input-container">
          {{ form.logo(id="logo", onchange="updateFileName(this)") }}
          <label for="logo" class="custom-file-button">Seleccionar Archivo</label>
          <span class="file-name" id="file-name">Ningún archivo seleccionado</span>
        </div>
        {% for error in form.logo.errors %}<span class="error">{{ error }}</span>{% endfor %}
        <button type="submit" class="business-button">Actualizar Negocio</button>
        <a href="{{ url_for('main.business_detail_or_edit', business_id=business.id) }}"
           class="business-button-secondary">Regresar a los Detalles</a>
      </form>
    {% endif %}
  </div>
{% endblock content %}
