{% extends "base.html" %} {% block content %}
<h2>Detalles de la Orden #{{ order.order_number }}</h2>

<!-- Información de la orden -->
<p><strong>Fecha:</strong> {{ order.date.strftime('%Y-%m-%d') }}</p>
<p><strong>Total General:</strong> ${{ "%.2f"|format(total) }}</p>

<!-- Listado de items en la orden -->
<h3>Items en la Orden</h3>
<table>
  <tr>
    <th>Nombre</th>
    <th>Precio Unitario</th>
    <th>Cantidad</th>
    <th>Total</th>
  </tr>
  {% for item in order.items %}
  <tr>
    <td>{{ item.item.name }}</td>
    <td>${{ "%.2f"|format(item.item.price) }}</td>
    <td>{{ item.quantity }}</td>
    <td>${{ "%.2f"|format(item.item.price * item.quantity) }}</td>
  </tr>
  {% endfor %}
</table>

<!-- Botón para agregar más items -->
<a href="{{ url_for('main.add_order_items', order_id=order.id) }}"
  >Agregar Más Items</a
>
{% endblock %}
